<div ng-controller = "associationsController">      
  <button ng-click="log()">Log Associations</button><br>
  Player:
  <select name="assignplayer" id="" ng-model="assignment.playerindex">
    <option ng-repeat="player in players track by $index" value="{{$index}}">{{player.name}}</option>
  </select>
  Team:
  <select name="assignteam" id="" ng-model="assignment.team">
    <option ng-repeat="team in teams track by $index" value="{{team.name}}">{{team.name}}</option>
  </select>
  <button ng-click="assign()">Assign Player to Team</button>
  <table>
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Team</th>
      <th> </th>
    </thead>
    <tbody>
      <tr ng-repeat="player in players track by $index">
        <td>{{$index}}</td>
        <td>{{player.name}}</td>
        <td>{{player.team}}</td>
        <td><button ng-click="clearassignment($index)">Clear Assignment</button></td>
      </tr>
    </tbody>
  </table>
</div>